body {
    margin: 0;
    padding: 0;
    background-color: #414141;
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
}

a {
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
}

.row {
    display: inline-block;
}

.header {
    padding-top: 20px;
    text-align: center;
}

.profile {
    width: 256px;
    height: 256px;
    border-radius: 100px;
}

.linkimg {
    width: 64px;
    height: 64px;
    color: white;
}